.sidebarLayout {
  min-height: 400px;
  background: transparent;
}

.sidebar {
  background: transparent;
}

.sidebarMenu {
  border-right: 0;
}

.content {
  padding: 0 24px;
  background: transparent;
}
